.calculator-header {
  padding-bottom: 12px;
}

.calculator-header__title {
  font-size: 32px;
}

.calculator-header__description {
  color: #75839F;
}

.calculator-row__input {
  height: 32px;
  width: 100%;
}

.calculator-row__label {
  padding-bottom: 8px;
}

.calculator-result-row {
  padding-bottom : 8px;
  text-align: right;
}

.button {
  height: 32px;
  font-size: 16px;
  background-color: #2E3958;
  color: white;
}